<form class="flexcol" autocomplete="off">
    <header style="display: grid; grid-template-rows: min-content min-content min-content; row-gap: 10px;">
        <div class="hkFlex" style="column-gap: 5px; align-items: center;">
            <img src="{{item.img}}" data-edit="img" height="100px" width="100px" style="object-fit: contain;"/>
            <input class="noBord" type="text" name="name" value="{{item.name}}" style="max-width: 300px;"/>
        </div>

        <div class="hkFlex" style="column-gap: 15px; align-items: center;">
            <div style="display: grid; justify-items: center;">
                <span>{{localize "Damage reduction"}}</span>
                <input type="text" name="system.DamageReduction" value="{{item.system.DamageReduction}}" style="max-width: 40px;"/>
            </div>

            <div style="display: grid; justify-items: center;">
                <span>{{localize "Durability"}}</span>
                <div class="hkFlex">
                    <input class="noRBord" type="text" name="system.Durability.max" title="{{localize "Max"}}" value="{{item.system.Durability.max}}" style="width: 23px; height: 23px;"/>
                    <input type="text" name="system.Durability.value" title="{{localize "Current"}}" value="{{item.system.Durability.value}}" style="width: 35px; height: 35px;"/>
                </div>
            </div>

            <div style="display: grid; justify-items: center;">
                <span>{{localize "Modifier"}}</span>
                <input type="text" name="system.Modifier" value="{{item.system.Modifier}}" style="max-width: 75px;"/>
            </div>

            <div style="display: grid; justify-items: center;">
                <span>{{localize "Bulk"}}</span>
                <input type="text" name="system.Bulk" value="{{item.system.Bulk}}" style="max-width: 40px;"/>
            </div>

            <div style="display: grid; justify-items: center;">
                <span>{{localize "Cost"}}</span>
                <input type="text" name="system.Cost" value="{{item.system.Cost}}" style="max-width: 40px;"/>
            </div>

            <input type="button" class="hkItemDelete" value="{{localize "Delete"}}" />
        </div>

        <textarea class="desc" name="system.Description" value="{{item.system.Description}}" placeholder="{{localize "Enter description here..."}}">{{item.system.Description}}</textarea>
    </header>
</form>