<form class="flexcol" autocomplete="off">
    <header style="display: grid; grid-template-rows: min-content min-content min-content; row-gap: 10px;">
        <div class="hkFlex" style="column-gap: 5px; align-items: center;">
            <img src="{{item.img}}" data-edit="img" height="100px" width="100px" style="object-fit: contain;"/>
            <input class="noBord" type="text" name="name" value="{{item.name}}" style="max-width: 300px;"/>
        </div>

        <div class="hkFlex" style="column-gap: 15px; align-items: center;">
            <div style="display: grid; justify-items: center;">
                <span>{{localize "Is attuned?"}}</span>
                <input type="checkbox" name="system.Attuned" style="max-width: 40px;" {{#if item.system.Attuned}}checked{{/if}} />
            </div>

            <div style="display: grid; justify-items: center;">
                <span>{{localize "Notches"}}</span>
                <input type="text" name="system.Notches" value="{{item.system.Notches}}" style="max-width: 40px;"/>
            </div>

            <input type="button" class="hkOpenEffect" data-effectid="{{item.effects.contents.[0].id}}" value="{{localize "Edit effect"}}" />
        </div>

        <textarea class="desc" name="system.Description" value="{{item.system.Description}}" placeholder="{{localize "Enter description here..."}}">{{item.system.Description}}</textarea>
    </header>
</form>