<form class="flexcol" autocomplete="off">
    <header style="display: grid; grid-template-rows: min-content min-content min-content; row-gap: 10px;">
        <div class="hkFlex" style="column-gap: 5px; align-items: center;">
            <img src="{{item.img}}" data-edit="img" height="100px" width="100px" style="object-fit: contain;"/>
            <input class="noBord" type="text" name="name" value="{{item.name}}" style="max-width: 300px;"/>
        </div>

        <div class="hkFlex" style="column-gap: 15px; align-items: center;">
            <div style="display: grid; justify-items: center;">
                <span>{{localize "Servings"}}</span>
                <input type="text" name="system.Servings" value="{{item.system.Servings}}" style="max-width: 40px;"/>
            </div>

            <div style="display: grid; justify-items: center;">
                <span>{{localize "Belly per serving"}}</span>
                <input type="text" name="system.BellyPerServing" value="{{item.system.BellyPerServing}}" style="max-width: 40px;"/>
            </div>
            
            <div style="display: grid; justify-items: center;">
                <span>{{localize "Bulk per serving"}}</span>
                <input type="text" name="system.BulkPerServing" value="{{item.system.BulkPerServing}}" style="max-width: 40px;"/>
            </div>

            <div style="display: grid; justify-items: center;">
                <span>{{localize "Cost per serving"}}</span>
                <input type="text" name="system.CostPerServing" value="{{item.system.CostPerServing}}" style="max-width: 40px;"/>
            </div>

            <div style="display: grid; justify-items: center;">
                <span>{{localize "On belt?"}}</span>
                <input type="checkbox" name="system.Belt" style="max-width: 40px;" {{#if item.system.Belt}}checked{{/if}} />
            </div>

            <div style="display: grid; justify-items: center;">
                <span>{{localize "Bulk"}}</span>
                <input type="text" value="{{item.system.Bulk}}" readonly style="max-width: 40px;"/>
            </div>

            <div style="display: grid; justify-items: center;">
                <span>{{localize "Cost"}}</span>
                <input type="text" value="{{item.system.Cost}}" readonly style="max-width: 40px;"/>
            </div>
        </div>

        <textarea class="desc" name="system.Description" value="{{item.system.Description}}" placeholder="{{localize "Enter description here..."}}">{{item.system.Description}}</textarea>
    </header>
</form>