<form class="flexcol" autocomplete="off" style="row-gap: 10px;">
    <header style="min-height:300px; max-height: 300px;">
            {{> "systems/hkrpg/templates/Actors/Parts/HeaderPart.hbs"}}
    </header>

    <nav class="hkTabs" data-group="hkGroup" style="height: 50px; max-height: 50px; min-height: 50px;">
        <a data-tab="Biography" data-group="hkGroup">{{localize "Biography"}}</a>
        <a data-tab="Weapons" data-group="hkGroup">{{localize "Equipment"}}</a>
        <a data-tab="Skills" data-group="hkGroup" style="text-wrap: nowrap;">{{localize "Skills & Traits"}}</a>
    </nav>

    <section class="hkContent">
        <div class="tab" data-tab="Biography" data-group="hkGroup">
            <div class="BiographyTab">
                <span style="font-size: 20px;">{{localize "Biography & Description"}}</span>
                <textarea class="desc" name="system.Other.Bio" placeholder="{{localize "Enter text here..."}}">{{actor.system.Other.Bio}}</textarea>
            </div>
        </div>
        <div class="tab" data-tab="Weapons" data-group="hkGroup">
            <div style="display: flex; justify-content: center; min-width: min-content;">
                <div class="EquipmentTab">
                    {{> "systems/hkrpg/templates/Actors/Parts/EquipmentTab.hbs"}}
                </div>
            </div>
        </div>
        <div class="tab" data-tab="Skills" data-group="hkGroup">
            <div style="display: flex; justify-content: center; min-width: min-content;">
                <div class="SkillsTab">
                    {{> "systems/hkrpg/templates/Actors/Parts/SkillsTab.hbs"}}
                </div>
            </div>
        </div>
    </section>
</form>