<div class="hkFlex" style="column-gap: 5px; align-items: center;">
    <div class="hkFlex" style="width: auto; column-gap: 14px; min-width: 270px;">
        <span style="font-size: 20px;">{{localize "Name"}}</span>
        <input class="noBord" type="text" name="name" value="{{actor.name}}" style="max-width: 200px;"/>
    </div>

    <div style="width: min-content; display: grid; justify-items: center; min-width: 59px;">
        <span style="font-size: 13px;">{{localize "Milestone"}}</span>
        <input type="text" name="system.Other.Milestone.main" value="{{actor.system.Other.Milestone.main}}" style="width: 35px;"/>
        <input class="noTBord" type="text" name="system.Other.Milestone.minorAdv" title="{{localize "Minor advancement"}}" value="{{actor.system.Other.Milestone.minorAdv}}" style="width: 28px;"/>
    </div>

    <div style="width: min-content; min-width: 49px; height: 74px; display: grid; justify-items: center;">
        <span style="font-size: 13px;">{{localize "Size"}}</span>
        <img src="systems/hkrpg/assets/trapez.png" height="55px" width="40px" style="object-fit: contain; border: none; max-width: 40px;"/>
        <div style="display: grid; row-gap: 5px; position: relative; bottom: 54px; right: 2px;">
            <input type="radio" name="system.OtherAttr.Size" title="{{localize "Large"}}" value="1" {{#if (EqualityCheck actor.system.OtherAttr.Size 1)}}checked{{/if}}/>
            <input type="radio" name="system.OtherAttr.Size" title="{{localize "Average"}}" value="2" {{#if (EqualityCheck actor.system.OtherAttr.Size 2)}}checked{{/if}}/>
            <input type="radio" name="system.OtherAttr.Size" title="{{localize "Small"}}" value="3" {{#if (EqualityCheck actor.system.OtherAttr.Size 3)}}checked{{/if}}/>
        </div>
    </div>

    <div class="hkFlex" style="width: auto; column-gap: 14px; min-width: 270px;">
        <span style="font-size: 20px;">{{localize "Player"}}</span>
        <input class="noBord" type="text" name="system.Other.PlayerName" value="{{actor.system.Other.PlayerName}}"/>
    </div>

    <div style="display: grid; row-gap: 2px">
        <div class="hkFlex" style="justify-items: center; width: min-content;">
            <span style="font-size: 12px;">{{localize "Edit"}}:</span>
            <input style="width: 13px; height: 13px; margin: 0;" type="checkbox" name="system.Other.Edit" {{#if actor.system.Other.Edit}}checked{{/if}} />
        </div>

        <input class="customRoll" type="button" value="{{localize "Roll"}}" style="font-size: 12px;">
    </div>
</div>

<div style="display: grid; grid-template-columns: min-content min-content min-content; column-gap: 12px;">
    <div style="display: grid;  width: 200px;">
        <span style="font-size: 13px; text-wrap: nowrap;">{{localize "Character art"}}</span>
        <img src="{{actor.img}}" data-edit="img" height="200" width="200" style="object-fit: contain;"/>
    </div>

    <div style="display: grid; width: min-content; min-width: 105px; row-gap: 7px;">
        <div class="attrBox">
            <span class="attrBoxName rollable" data-ability="{{actor.system.Attr.Might.value}}" data-mod="{{actor.system.Attr.Might.temporary}}">{{localize "Might"}}</span>
            <input type="text" class="attrBox1" style="width: 35px;" {{#if actor.system.Other.Edit}}name="system.Attr.Might.base" value="{{actor.system.Attr.Might.base}}"{{else}}value="{{actor.system.Attr.Might.value}}" readonly{{/if}}/>
            <input type="text" name="system.Attr.Might.temporary" title="{{localize "Temporary"}}" value="{{actor.system.Attr.Might.temporary}}" class="noTBord attrBox2" style="width: 35px;"/>
        </div>
    
        <div class="attrBox">
            <span class="attrBoxName rollable" data-ability="{{actor.system.Attr.Insight.value}}" data-mod="{{actor.system.Attr.Insight.temporary}}">{{localize "Insight"}}</span>
            <input type="text" class="attrBox1" style="width: 35px" {{#if actor.system.Other.Edit}}name="system.Attr.Insight.base" value="{{actor.system.Attr.Insight.base}}"{{else}}value="{{actor.system.Attr.Insight.value}}" readonly{{/if}}/>
            <input type="text" name="system.Attr.Insight.temporary"  title="{{localize "Temporary"}}" value="{{actor.system.Attr.Insight.temporary}}" class="noTBord attrBox2" style="width: 35px;"/>
        </div>
    
        <div class="attrBox">
            <span class="attrBoxName rollable" data-ability="{{actor.system.Attr.Shell.value}}" data-mod="{{actor.system.Attr.Shell.temporary}}">{{localize "Shell"}}</span>
            <input type="text" class="attrBox1" style="width: 35px;" {{#if actor.system.Other.Edit}}name="system.Attr.Shell.base" value="{{actor.system.Attr.Shell.base}}"{{else}}value="{{actor.system.Attr.Shell.value}}" readonly{{/if}}/>
            <input type="text" name="system.Attr.Shell.temporary"  title="{{localize "Temporary"}}" value="{{actor.system.Attr.Shell.temporary}}" class="noTBord attrBox2" style="width: 35px;"/>
        </div>
    
        <div class="attrBox">
            <span class="attrBoxName rollable" data-ability="{{actor.system.Attr.Grace.value}}" data-mod="{{actor.system.Attr.Grace.temporary}}">{{localize "Grace"}}</span>
            <input type="text" class="attrBox1" style="width: 35px;" {{#if actor.system.Other.Edit}}name="system.Attr.Grace.base" value="{{actor.system.Attr.Grace.base}}"{{else}}value="{{actor.system.Attr.Grace.value}}" readonly{{/if}}/>
            <input type="text" name="system.Attr.Grace.temporary"  title="{{localize "Temporary"}}" value="{{actor.system.Attr.Grace.temporary}}" class="noTBord attrBox2" style="width: 35px;"/>
        </div>
    </div>

    <div style="display: grid; row-gap: 7px;">
        <div class="poolsBoxes">
            <div style="display: grid;">
                <span style="font-size: 20px; justify-self: center;">{{localize "Heart"}}</span>
                <div class="hkFlex" style="column-gap: 0px; justify-content: center;">
                    <input class="noRBord" type="text" title="{{localize "Max"}}" style="width: 28px; height: 28px;" {{#if actor.system.Other.Edit}}name="system.Pools.Hearts.maxbase" value="{{actor.system.Pools.Hearts.maxbase}}"{{else}}value="{{actor.system.Pools.Hearts.max}}" readonly{{/if}}/>
                    <input type="text" name="system.Pools.Hearts.value" title="{{localize "Current"}}" value="{{actor.system.Pools.Hearts.value}}" style="width: 42px; height: 42px;"/>
                    <input type="text" name="system.Pools.Hearts.temporary" title="{{localize "Temporary"}}" value="{{actor.system.Pools.Hearts.temporary}}" style="width: 21px; height: 21px; margin-left: 5px;"/>
                </div>
            </div>

            <div style="display: grid;">
                <span style="font-size: 20px; justify-self: center;">{{localize "Soul"}}</span>
                <div class="hkFlex" style="column-gap: 0px; justify-content: center;">
                    <input class="noRBord" type="text" title="{{localize "Max"}}" style="width: 28px; height: 28px;"  {{#if actor.system.Other.Edit}}name="system.Pools.Soul.maxbase" value="{{actor.system.Pools.Soul.maxbase}}"{{else}}value="{{actor.system.Pools.Soul.max}}" readonly{{/if}}/>
                    <input type="text" name="system.Pools.Soul.value" title="{{localize "Current"}}" value="{{actor.system.Pools.Soul.value}}" style="width: 42px; height: 42px;"/>
                    <input type="text" name="system.Pools.Soul.temporary" title="{{localize "Temporary"}}" value="{{actor.system.Pools.Soul.temporary}}" style="width: 21px; height: 21px;  margin-left: 5px;"/>
                </div>
            </div>

            <div style="display: grid;">
                <span style="font-size: 20px; justify-self: center;">{{localize "Stamina"}}</span>
                <div class="hkFlex" style="column-gap: 0px; justify-content: center;">
                    <input class="noRBord" type="text" title="{{localize "Max"}}" style="width: 28px; height: 28px;"  {{#if actor.system.Other.Edit}}name="system.Pools.Stamina.maxbase" value="{{actor.system.Pools.Stamina.maxbase}}"{{else}}value="{{actor.system.Pools.Stamina.max}}" readonly{{/if}}/>
                    <input type="text" name="system.Pools.Stamina.value" title="{{localize "Current"}}" value="{{actor.system.Pools.Stamina.value}}" style="width: 42px; height: 42px;"/>
                    <input type="text" name="system.Pools.Stamina.temporary" title="{{localize "Temporary"}}" value="{{actor.system.Pools.Stamina.temporary}}" style="width: 21px; height: 21px;  margin-left: 5px;"/>
                </div>
            </div>

            <div style="display: grid; row-gap: 4px;">
                <input type="text" name="system.Pools.CustomPool1.name" value="{{actor.system.Pools.CustomPool1.name}}" class="noBord" placeholder="{{localize "Custom pool"}} 1" style="width: 112px; justify-self: center; text-overflow: ellipsis;">
                <div class="hkFlex" style="column-gap: 0px; justify-content: center;">
                    <input class="noRBord" type="text" title="{{localize "Max"}}" style="width: 28px; height: 28px;" {{#if actor.system.Other.Edit}}name="system.Pools.CustomPool1.maxbase" value="{{actor.system.Pools.CustomPool1.maxbase}}"{{else}}value="{{actor.system.Pools.CustomPool1.max}}" readonly{{/if}}/>
                    <input type="text" name="system.Pools.CustomPool1.value" title="{{localize "Current"}}" value="{{actor.system.Pools.CustomPool1.value}}" style="width: 42px; height: 42px;"/>
                    <input type="text" name="system.Pools.CustomPool1.temporary" title="{{localize "Temporary"}}" value="{{actor.system.Pools.CustomPool1.temporary}}" style="width: 21px; height: 21px;  margin-left: 5px;"/>
                </div>
            </div>

            <div style="display: grid; row-gap: 4px;">
                <input type="text" name="system.Pools.CustomPool2.name" value="{{actor.system.Pools.CustomPool2.name}}" class="noBord" placeholder="{{localize "Custom pool"}} 2" style="width: 112px; justify-self: center; text-overflow: ellipsis;">
                <div class="hkFlex" style="column-gap: 0px; justify-content: center;">
                    <input class="noRBord" type="text"  title="{{localize "Max"}}" style="width: 28px; height: 28px;" {{#if actor.system.Other.Edit}}name="system.Pools.CustomPool2.maxbase" value="{{actor.system.Pools.CustomPool2.maxbase}}"{{else}}value="{{actor.system.Pools.CustomPool2.max}}" readonly{{/if}}/>
                    <input type="text" name="system.Pools.CustomPool2.value" title="{{localize "Current"}}" value="{{actor.system.Pools.CustomPool2.value}}" style="width: 42px; height: 42px;"/>
                    <input type="text" name="system.Pools.CustomPool2.temporary" title="{{localize "Temporary"}}" value="{{actor.system.Pools.CustomPool2.temporary}}" style="width: 21px; height: 21px;  margin-left: 5px;"/>
                </div>
            </div>

            <div style="display: grid; row-gap: 4px;">
                <input type="text" name="system.Pools.CustomPool3.name" value="{{actor.system.Pools.CustomPool3.name}}" class="noBord" placeholder="{{localize "Custom pool"}} 3" style="width: 112px; justify-self: center; text-overflow: ellipsis;">
                <div class="hkFlex" style="column-gap: 0px; justify-content: center;">
                    <input class="noRBord" type="text" title="{{localize "Max"}}" style="width: 28px; height: 28px;" {{#if actor.system.Other.Edit}}name="system.Pools.CustomPool3.maxbase" value="{{actor.system.Pools.CustomPool3.maxbase}}"{{else}}value="{{actor.system.Pools.CustomPool3.max}}" readonly{{/if}}/>
                    <input type="text" name="system.Pools.CustomPool3.value" title="{{localize "Current"}}" value="{{actor.system.Pools.CustomPool3.value}}" style="width: 42px; height: 42px;"/>
                    <input type="text" name="system.Pools.CustomPool3.temporary" title="{{localize "Temporary"}}" value="{{actor.system.Pools.CustomPool3.temporary}}" style="width: 21px; height: 21px;  margin-left: 5px;"/>
                </div>
            </div>

        </div>

        <div class="hkFlex" style="column-gap: 14px; align-items: center; justify-content: space-evenly;">
            <div style="display: grid; justify-items: center;">
                <span style="font-size: 13px;" class="rollable"  data-ability="{{actor.system.OtherAttr.Cute.value}}" data-mod="0">{{localize "Cute"}}</span>
                <input type="text" style="width: 35px;" {{#if actor.system.Other.Edit}}name="system.OtherAttr.Cute.base" value="{{actor.system.OtherAttr.Cute.base}}"{{else}}value="{{actor.system.OtherAttr.Cute.value}}" readonly{{/if}}>
            </div>

            <div style="display: grid; justify-items: center;">
                <span style="font-size: 13px;" class="rollable"  data-ability="{{actor.system.OtherAttr.Spook.value}}" data-mod="0">{{localize "Spook"}}</span>
                <input type="text" style="width: 35px;" {{#if actor.system.Other.Edit}}name="system.OtherAttr.Spook.base" value="{{actor.system.OtherAttr.Spook.base}}"{{else}}value="{{actor.system.OtherAttr.Spook.value}}" readonly{{/if}}>
            </div>

            <div style="display: grid; justify-items: center;">
                <span style="font-size: 17px; justify-self: center;">{{localize "Speed"}}</span>
                <div class="hkFlex">
                    <input class="noRBord" type="text" title="{{localize "Max"}}" style="width: 28px; height: 28px;" {{#if actor.system.Other.Edit}}name="system.OtherAttr.Speed.maxbase" value="{{actor.system.OtherAttr.Speed.maxbase}}"{{else}}value="{{actor.system.OtherAttr.Speed.max}}" readonly{{/if}}>
                    <input type="text" name="system.OtherAttr.Speed.value" title="{{localize "Current"}}" value="{{actor.system.OtherAttr.Speed.value}}" style="width: 42px; height: 42px;">
                </div>
            </div>

            <div style="display: grid; justify-items: center;">
                <span style="font-size: 11px;">{{localize "Footwork"}}</span>
                <input type="text" style="width: 35px;" {{#if actor.system.Other.Edit}}value="{{actor.system.Attr.Footwork.base}}" readonly{{else}}value="{{actor.system.Attr.Footwork.value}}" readonly{{/if}}>
            </div>

            <div style="display: grid; justify-items: center;">
                <span style="font-size: 17px; justify-self: center;">{{localize "Belly"}}</span>
                <div class="hkFlex">
                    <input class="noRBord" type="text" title="{{localize "Max"}}" style="width: 28px; height: 28px;" {{#if actor.system.Other.Edit}}value="{{actor.system.OtherAttr.Belly.maxbase}}" readonly{{else}}value="{{actor.system.OtherAttr.Belly.max}}" readonly{{/if}}>
                    <input type="text" name="system.OtherAttr.Belly.value" title="{{localize "Current"}}" value="{{actor.system.OtherAttr.Belly.value}}" style="width: 42px; height: 42px;">
                </div>
            </div>
        </div>
    </div>
</div>