<div class="TraitList">
    <span class="ItemListItem ItemListHeader" style="grid-column: 1/2; font-size: 17px;">{{localize "Traits"}}</span>
    <span class="ItemListItem ItemListHeader" style="grid-column: 2/3; font-size: 11px;">{{localize "Hunger"}}</span>
    <span class="ItemListItem ItemListHeader" style="grid-column: 3/4; font-size: 11px;">{{localize "Cute"}}</span>
    <span class="ItemListItem ItemListHeader" style="grid-column: 4/5; font-size: 11px;">{{localize "Spook"}}</span>

    {{#each actor.itemTypes.Trait as |item|}}
    <span class="hkOpenSheet ItemListItem" style="grid-column: 1/2;" data-itemid="{{item.id}}">{{item.name}}</span>
    <span class="ItemListItem ItemListBorder" style="grid-column: 2/3;">{{item.system.Hunger}}</span>
    <span class="ItemListItem ItemListBorder" style="grid-column: 3/4;">{{item.system.Cute}}</span>
    <span class="ItemListItem ItemListBorder" style="grid-column: 4/5;">{{item.system.Spook}}</span>
    {{#if actor.system.Other.Edit}}
    <span class="hkItemDelete ItemListItem" style="grid-column: 5/6; border: 0;" data-itemid="{{item.id}}"><i class="fa-solid fa-trash"></i></span>
    {{/if}}
    {{/each}}
</div>

<div class="ProfList">
    <span class="ItemListItem ItemListHeader" style="grid-column: 1/2; font-size: 17px">{{localize "Proficiencies"}}</span>
    <span class="ItemListItem ItemListHeader" style="grid-column: 2/3; font-size: 11px">{{localize "Rank"}}</span>
    <span class="ItemListItem ItemListHeader" style="grid-column: 3/4; font-size: 11px;"></span>

    {{#each actor.itemTypes.Proficiency as |item|}}
    <span class="hkOpenSheet ItemListItem" style="grid-column: 1/2; border-bottom-width: 2px;" data-itemid="{{item.id}}">{{item.name}}</span>
    <span class="ItemListItem ItemListBorder" style="grid-column: 2/3; border-bottom-width: 2px;">{{item.system.Rank}}</span>
    <span class="ItemListItem ItemListBorder" style="grid-column: 3/4; border-bottom-width: 2px; font-size: 10px; align-items: end;">{{localize "Mastery"}}</span>
    {{#if actor.system.Other.Edit}}
    <span class="hkItemDelete ItemListItem" style="grid-column: 4/5; border: 0;" data-itemid="{{item.id}}"><i class="fa-solid fa-trash"></i></span>
    {{/if}}

    <span class="ItemListItem" style="grid-column: 1/3; border-left: 3px solid black;">{{item.system.Skill1.name}}</span>
    <span class="ItemListItem ItemListBorder" style="grid-column: 3/4;">{{#if item.system.Skill1.mastery}}<i class="fa-solid fa-star"></i>{{/if}}</i></span>

    <span class="ItemListItem" style="grid-column: 1/3; border-left: 3px solid black;">{{item.system.Skill2.name}}</span>
    <span class="ItemListItem ItemListBorder" style="grid-column: 3/4;">{{#if item.system.Skill2.mastery}}<i class="fa-solid fa-star"></i>{{/if}}</i></span>

    <span class="ItemListItem" style="grid-column: 1/3; border-left: 3px solid black;">{{item.system.Skill3.name}}</span>
    <span class="ItemListItem ItemListBorder" style="grid-column: 3/4;">{{#if item.system.Skill3.mastery}}<i class="fa-solid fa-star"></i>{{/if}}</i></span>

    <span class="ItemListItem" style="grid-column: 1/3; border-left: 3px solid black; border-bottom-width: 3px;">{{item.system.Skill4.name}}</span>
    <span class="ItemListItem ItemListBorder" style="grid-column: 3/4; border-bottom-width: 3px;">{{#if item.system.Skill4.mastery}}<i class="fa-solid fa-star"></i>{{/if}}</i></span>
    {{/each}}
</div>


<div class="PathList">
    <span class="ItemListItem ItemListHeader" style="grid-column: 1/2; font-size: 17px;">{{localize "Paths"}}</span>
    <span class="ItemListItem ItemListHeader" style="grid-column: 2/3; font-size: 11px;">{{localize "Path ranks"}}</span>
    
    {{#each actor.itemTypes.Path as |item|}}
    <span class="hkOpenSheet ItemListItem"  style="grid-column: 1/2;" data-itemid="{{item.id}}">{{item.name}}</span>
    <span class="ItemListItem ItemListBorder" style="grid-column: 2/3; column-gap: 5px;">
    {{#if item.system.Rank1}}<i class="fa-solid fa-square-check"></i>{{else}}<i class="fa-regular fa-square"></i>{{/if}}
    {{#if item.system.Rank2}}<i class="fa-solid fa-square-check"></i>{{else}}<i class="fa-regular fa-square"></i>{{/if}}
    {{#if item.system.Rank3}}<i class="fa-solid fa-square-check"></i>{{else}}<i class="fa-regular fa-square"></i>{{/if}}
    </span>
    {{#if actor.system.Other.Edit}}
    <span class="hkItemDelete ItemListItem" style="grid-column: 3/4; border: 0;" data-itemid="{{item.id}}"><i class="fa-solid fa-trash"></i></span>
    {{/if}}
    {{/each}}
</div>

<div class="ArtList">
    <span class="ItemListItem ItemListHeader" style="grid-column: 1/2; font-size: 17px;">{{localize "Techniques"}}</span>
    <span class="ItemListItem ItemListHeader" style="grid-column: 2/3; font-size: 11px;">{{localize "Slots"}}: <input type="text" style="width: 20px; height: 15px;" {{#if actor.system.Other.Edit}}value="{{actor.system.Attr.TechSlots.base}}" readonly{{else}}value="{{actor.system.Attr.TechSlots.value}}" readonly{{/if}}></span>

    {{#each actor.itemTypes.Arcana as |item|}}
    <span class="hkOpenSheet ItemListItem" style="grid-column: 1/2;" data-itemid="{{item.id}}">{{item.name}}</span>
    <span class="ItemListItem ItemListBorder" style="grid-column: 2/3;">
        {{#if item.system.Attuned}}<i class="fa-solid fa-square-check"></i>{{else}}<i class="fa-regular fa-square"></i>{{/if}}
    </span>
    {{#if actor.system.Other.Edit}}
    <span class="hkItemDelete ItemListItem" style="grid-column: 3/4; border: 0;" data-itemid="{{item.id}}"><i class="fa-solid fa-trash"></i></span>
    {{/if}}
    {{/each}}

    {{#each actor.itemTypes.Art as |item|}}
    <span class="hkOpenSheet ItemListItem" style="grid-column: 1/2;" data-itemid="{{item.id}}">{{item.name}}</span>
    <span class="ItemListItem ItemListBorder" style="grid-column: 2/3;">
        {{#if item.system.Prepared}}<i class="fa-solid fa-square-check"></i>{{else}}<i class="fa-regular fa-square"></i>{{/if}}
    </span>
    {{#if actor.system.Other.Edit}}
    <span class="hkItemDelete ItemListItem" style="grid-column: 3/4; border: 0;" data-itemid="{{item.id}}"><i class="fa-solid fa-trash"></i></span>
    {{/if}}
    {{/each}}
</div>